* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    margin: 20px;
}

#contenedor {
    display: flex;
    justify-content: center;
}

h1:nth-child(1) {
    text-align: center;
    margin-top: 20px;
}